<div class="container-fluid credit_card" id="credit_card_container">
  <div class="row-fluid">
    <% if flash[:success] %>
      <%= render :partial => "success", :locals => {:success_msg => flash[:success]} %>
    <% end %>
    <% if flash[:error] %>
      <%= render :partial => "error", :locals => {:error_msg => flash[:error]} %>
    <% end %>
    <div class="col-md-12">
      <h3>Credit card Validator</h3>
      <%= form_tag("/creditcard/validate_card", :method =>"post", :role=> "form") do %>
        <div class="form-group">   
	  <%= label_tag(:credit_card, "Card number:") %>    
          <%= text_field_tag(:credit_card, nil, placeholder: "enter number") %>
        </div>
        <div class="form-group">
	  <%= label_tag(:credit_card_type, "Card type:") %>
	  <%= select_tag "credit_card_type", options_for_select({"MasterCard"=>"master_card","Visa" => "visa", "American Express" => "amax", "Discover" => "discover"}, "MasterCard") %>
	</div>
	<%= submit_tag("Validate",  :class=>"btn btn-primary", :name=>"save_creditcard")  %>
      <% end %>
    </div>
  </div>
</div>
